.color-teal {
	color: #009688;
}

.card-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-2 {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

/*
***************************************************************************
****************************   About Me  **********************************
***************************************************************************
*/

.about-container {
	padding-top: 80px;
}

/* Left Column */
.about-left-top {
	position: relative;
}
.about-left-top img {
	width: 100%;
	height: auto;
}
.about-name {
	position: absolute;
    left: 16px;
    bottom: 0;
}
.about-name h2 {
	color: #009688;
}

.about-left-bottom {
	padding: 16px;
}
.index-of-me p {
	color: var(--heading-color);
}
.about-icon {
	color: #009688;
    margin-right: 15px;
}
.skill-item-container {
	background-color: #f1f1f1;
	border-radius: 16px;
    margin-bottom: 16px;
}
.skill-item {
	color: #fff;
	background-color: #009688;
	border-radius: 16px;
	text-align: center;
	font-size: 12px;
}

/* Right Column */
.about-right {
	padding: 16px;
}
.about-right h2 {
	margin-bottom: 24px;
}
.experience-container {
	margin-bottom: 25px;
}
.experience-container p {
	text-align: justify;
}
.experience-time {
	display: none;
	color: #009688;
    margin-top: 15px;
    margin-bottom: 15px;
}
.current {
	color: #fff;
    background-color: #009688;
    border-radius: 4px;
    padding: 4px 8px;
}

/* Footer Socical */
.footer-socical {
	color: #fff;
	background-color: #009688;
	padding-top: 30px;
	padding-bottom: 16px;
}
.footer-socical p {
	color: #fff;
}

.footer-socical .list-socical-item a {
	color: #fff;
}