.post-border-right {
    border: none;
}

.post-detail {
	width: 100%;
}
.post-detail p {
	margin-bottom: 8px;
}
.post-detail-header {
    margin-top: 45px;
}
.post-detail-title {
	margin-bottom: 0;
}
.post-detail-demo {
	margin-top: 40px;
	margin-bottom: 40px;
}
.post-detail-subtitle {
    margin-top: 30px;
    margin-bottom: 16px;
}


/***************************************/
/***************************************/


.list-of-contents-container {
    display: none;
    position: fixed;
    top: 90px;
    right: 0px;
    overflow: auto;
    height: 100%;
}
.list-of-contents-inner {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}
.list-of-contents {
	list-style: none;
	padding: 0px;
}
.content-item {

}
.content-item-link {
    color: var(--btn-color);
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    font-size: 14px;
}
.content-item-link:hover {
	color: var(--btn-color-hover);
}

.active-item-link {
    color: var(--active-link-color);
    border-left: 4px solid var(--active-link-color);
    font-weight: bold;
    margin-left: -4px;
    padding-left: 10px;
    background-color: var(--active-background-color);
}

@media (min-width: 768px) {
    .post-border-right {
        border-right: 1px solid #ccc; 
    }
    .list-of-contents-container {
        display: block;
    }
}



/***************************************/
/***************************************/


.site-nextprev-nav {
    clear: both;
}
.site-nextprev-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.site-nextprev-nav>ul>li {
    width: 49%;
}
.site-nextprev-nav ul li {
    display: flex;
    margin-bottom: 0.75rem;
    white-space: nowrap;
}
.site-nextprev-nav ul li a {
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--btn-color);
}
.site-nextprev-nav ul li a:hover {
    color: var(--btn-color-hover);
}

.site-nextprev-nav>ul>li.prev {
    float: left;
}

.site-nextprev-nav ul li.prev:before {
    color: var(--btn-color);
    content: "\2329";
    padding-right: 0.375rem;
}
.site-nextprev-nav ul li.prev:hover:before {
    color: var(--btn-color-hover);
}
.site-nextprev-nav ul li.next {
    justify-content: flex-end;
    text-align: right;
    float: right;
}
.site-nextprev-nav ul li.next:after {
    color: var(--btn-color);
    content: "\232A";
    padding-left: 0.375rem;
}
.site-nextprev-nav ul li.next:hover:after {
    color: var(--btn-color-hover);
}